old/*
debug/*
experiments/*
data/*
logs/*

__pycache__/
__pycache__
*.py[cod]
*$py.class

dist/
build/
*.egg-info/

.ipynb_checkpoints
*/.ipynb_checkpoints/*


/venv/
.env
.venv
env/
venv/
ENV/

tests/*

.idea/
.vscode/
*.swp
*.swo

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
